.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.9rem;
  background: linear-gradient(to right, #3b82f6, #009dff , #3b82f6);
  color: white;
  z-index: 1000;

  display: flex;
  align-items: center;
  padding: 0 0.1rem;
}

.headerLeft {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header h1 {
  flex: 0; 
  white-space: nowrap;
  margin: 0;
  font-weight: 800;
  font-size: 3em;
}

.headerRight {
  flex: 1; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerButton svg,
.headerButtonRound svg {
  width:  1.7em;
  height: 1.2em;
}

.headerButton,
.headerButtonRound {
  transition: background-color 0.2s ease-in-out;
  background: transparent;
  border-radius: 0.375rem;
  padding: 0.9rem;
  cursor: pointer;
  color: white;
  border: none;
  transform:scale(1.2);
}

.headerButton:hover,
.headerButtonRound:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.headerButton svg,
.headerButtonRound svg {
  stroke: #fff;
  fill: none;
}