body{
    background-color: #00d5ff;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container {
    background-color: #9cd3de;
    width: 100vw;
    max-width: 65%;
    height: 86vh;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}


.login {
    width: 40%;
    height: 86vh;
    margin: auto auto;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.logo {
    border-radius: 100%;
    background-color: #fff;
    height: 12em;
    width: 12em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.login_box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    height: 64%;
    padding: 0 10%;
    align-items: center;
    gap: 0.5em;
    padding-top: 10px;
}


.login_box input {
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    font-weight: 100;
}

.login_box input:nth-child(1) {
    padding-right: 1.7em;
    text-indent: 1.2em;
}

.senha_box {
    position: relative;
    width: 100%;
}

.senha_box input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.senha_box .button_eye {
    position: absolute;
    right: -1.5em;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    color: #444;
    outline: none;
}

.senha_box .button_eye i {
    font-size: 18px;
}


.social_login {
    display: flex;
    flex-wrap: wrap;
}

/* versão do segundo CSS dizia "display:none"  
   → deixei configurável abaixo */
.social_login.hidden {
    display: none;
}


.label {
    color: black;
}

.cadastro {
    font-size: 14px;
    margin: 5px 0;
}

.cadastro a {
    color: #0095ff;
    text-decoration: none;
    font-weight: bold;
}

.cadastro a:hover {
    text-decoration: underline;
}

.ou {
    margin: 10px 0;
    padding: 0;
    font-size: small;
    color: gray;
}

.errorMessage {
    color: red;
    margin: 0 auto;
}

.animal_img {
    width: 60%;
    object-fit: cover;
    border-radius: 10px;
}


@media screen and (max-width: 1360px) {
    .container {
        max-width: 100%;
        height: 100vmax;
        border-radius: 0;
    }

    .login {
        width: 100%;
        height: 97vh;
        padding: 1em;
    }

    .login_box {
        width: 80%;
        height: 60%;
    }

    .animal_img {
        display: none;
    }
}
